node_modules
npm-debug.log
vendor
.git
.gitignore
README.md
.env
.env.backup
.env.production
.phpunit.result.cache
Composer.lock
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/storage
.DS_Store
Thumbs.db